@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        foreach (List
        <object>
            row in ViewBag.table)
            {
            <tr>
                for (int i = 0; i < 8; i++)
                {
                <td>
                    try
                    {
                    row[i]
                    }
                    catch (Exception)
                    {
                    //{ { null} }
                    }
                </td>
                }
            </tr>
            }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        foreach (List
        <object>
            row in ViewBag.table)
            {
            <tr>
                for (int i = 0; i < 8; i++)
                {
                <td>
                    try
                    {
                    row[i]
                    }
                    catch (Exception)
                    {
                    //{ { null} }
                    }
                </td>
                }
            </tr>
            }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        foreach (List
        <object>
            row in ViewBag.table)
            {
            <tr>
                for (int i = 0; i < 8; i++)
                {
                <td>
                    try
                    {
                    row[i]
                    }
                    catch (Exception)
                    {
                    //{ { null} }
                    }
                </td>
                }
            </tr>
            }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        foreach (List
        <object>
            row in ViewBag.table)
            {
            <tr>
                for (int i = 0; i < 8; i++)
                {
                <td>
                    try
                    {
                    row[i]
                    }
                    catch (Exception)
                    {
                    //{ { null} }
                    }
                </td>
                }
            </tr>
            }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        foreach (List
        <object>
            row in ViewBag.table)
            {
            <tr>
                for (int i = 0; i < 8; i++)
                {
                <td>
                    try
                    {
                    row[i]
                    }
                    catch (Exception)
                    {
                    //{ { null} }
                    }
                </td>
                }
            </tr>
            }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>
    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        foreach (List
        <object>
            row in ViewBag.table)
            {
            <tr>
                for (int i = 0; i < 8; i++)
                {
                <td>
                    try
                    {
                    row[i]
                    }
                    catch (Exception)
                    {
                    //{ { null} }
                    }
                </td>
                }
            </tr>
            }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>
<div class="row">
    <h2>Admin Dashboard</h2>

    <table style="width:100%">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>CreatedOn</th>
            <th>ModifiedOn</th>
            <th>DeletedOn</th>
        </tr>

        foreach (List
        <object>
            row in ViewBag.table)
            {
            <tr>
                for (int i = 0; i < 8; i++)
                {
                <td>
                    try
                    {
                    row[i]
                    }
                    catch (Exception)
                    {
                    //{ { null} }
                    }
                </td>
                }
            </tr>
            }
    </table>

    <form action="#" method="get">
        <input type="text" name="searchvalue" value="" />
        <input type="submit" />
    </form>
</div>